<section class="Investment__intro-funds pt-6 pb-7">
    <div class="wrapper flex-column">
        <h2 class="t-24 text-darker text-center mb-7">صندوق های سرمایه گذاری سبدگردان مفید</h2>
        <div class="scroller hide-scrollbar">
            <div class="inner flex align-start px-7">
                {% for fund in fundsReturns %}
                    <div class="item fund-{{ fund.staticInfo.enName|lower }} radius-small bg-white shadow-small-center mx-3 flex-column align-center">
                        <img class="logo" src="{{ theme.link }}/assets/images/funds/mofid/{{ fund.staticInfo.enName|lower }}.svg" />
                        <div class="header w-100 relative overflow-hidden"></div>
                        <div class="content relative overflow-hidden flex-column w-100 px-4 py-4">
                            <div class="top flex-column pb-4">
                                <div class="heading flex justify-space-between align-center mb-4">
                                    <h3 class="t-12 text-darker">صندوق سرمایه گذاری {{ fund.title }}</h3>
                                    {# <a class="t-10 flex align-center strong" href="{{ fund.url }}">مشاهده صندوق</a> #}
                                </div>
                                <div class="details flex justify-space-between align-center">
                                    <div class="option flex-column align-center mx-2">
                                        <span class="value t-14 text-darker mb-1 strong">{{ fund.staticInfo.fundType }}</span>
                                        <span class="key t-12 text-light">نوع صندوق</span>
                                    </div>
                                    <div class="option flex-column align-center mx-2">
                                        <span class="value t-14 text-darker mb-1 strong">
                                            <strong class="price">{{ (fund.aum / 10000000000)|round|number_format }}</strong>
                                            <strong class="price-label">میلیارد تومان</strong>
                                        </span>
                                        <span class="key t-12 text-light">دارایی کل صندوق</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom flex-column pt-4">
                                <div class="performances flex align-center justify-center">
                                    {% if fund.return6M %}
                                        <div class="data flex-column mx-4">
                                            <span class="value t-14 mb-1 strong ltr positive">{{ fund.return6M|round(1) }}%</span>
                                            <span class="key t-12 text-lighter text-center">6 ماهه</span>
                                        </div>
                                    {% endif %}

                                    {% if fund.return1Y %}
                                        <div class="data flex-column mx-4">
                                            <span class="value t-14 mb-1 strong ltr positive">{{ fund.return1Y|round(1) }}%</span>
                                            <span class="key t-12 text-lighter text-center">1 ساله</span>
                                        </div>
                                    {% endif %}

                                    {% if fund.return5Y %}
                                        <div class="data flex-column mx-4">
                                            <span class="value t-14 mb-1 strong ltr positive">{{ fund.return5Y|round(1) }}%</span>
                                            <span class="key t-12 text-lighter text-center">5 ساله</span>
                                        </div>
                                    {% endif %}
                                </div>
                                {# <div class="list flex-column">
                                    <div class="list-item flex align-center justify-space-between mb-4">
                                        <div class="label t-12 text-light">شماره حساب بانک ملت</div>
                                        <input class="ltr t-12 text-darker strong" type="text" readonly="" value="123456789" />
                                    </div>
                                    <div class="list-item flex align-center justify-space-between mb-4">
                                        <div class="label t-12 text-light">شماره شبا</div>
                                        <input class="ltr t-12 text-darker strong" type="text" readonly="" value="IR030120225325600001795" />
                                    </div>
                                    <div class="list-item flex align-center justify-space-between mb-4">
                                        <div class="label t-12 text-light">همبستگی با افت شاخص (سه سال اخیر)</div>
                                        <input class="ltr t-12 text-darker small strong" type="text" readonly="" value="75.2%" />
                                    </div>
                                    <div class="list-item flex align-center justify-space-between mb-4">
                                        <div class="label t-12 text-light">همبستگی با رشد شاخص (سه سال اخیر)</div>
                                        <input class="ltr t-12 text-darker small strong" type="text" readonly="" value="83%" />
                                    </div>
                                    <div class="list-item flex align-center justify-space-between mb-4">
                                        <div class="label t-12 text-light">شاخص ریسک بتا (سه سال اخیر)</div>
                                        <input class="ltr t-12 text-darker small strong" type="text" readonly="" value="91.4%" />
                                    </div>
                                </div> #}
                            </div>
                            {# <button class="fund-extend-btn"></button> #}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="flex justify-center mt-1">
            <a class="Button medium sherpa-blue" href="https://www.emofid.com/forms/investmentform/">مشاوره رایگان سرمایه&zwnj;گذاری</a>
        </div>
    </div>
</section>
