<section class="Home__news py-7">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-xs-12 right flex justify-center align-center">
                <div class="texts">
                    <div class="boxes flex justify-center">
                        <div class="item flex-column align-center">
                            <span class="circle circle-1 radius-full mb-3"></span>
                            <span class="text-center">بیش از 12 میلیون کاربر</span>
                        </div>
                        <div class="item flex-column align-center">
                            <span class="circle circle-2 radius-full mb-3"></span>
                            <span class="text-center">27 سال تجربه</span>
                        </div>
                        <div class="item flex-column align-center">
                            <span class="circle circle-3 radius-full mb-3"></span>
                            <span class="text-center">بیش از 5000 نقطه ارائه خدمت</span>
                        </div>
                        <div class="item flex-column align-center">
                            <span class="circle circle-4 radius-full mb-3"></span>
                            <span class="text-center">12 صندوق سرمایه‌گذاری مختلف</span>
                        </div>
                        <div class="item flex-column align-center">
                            <span class="circle circle-5 radius-full mb-3"></span>
                            <span class="text-center">28/5 درصد سهم از  از ارزش معاملات آنلاین اوراق بهادار</span>
                        </div>
                        <div class="item flex-column align-center">
                            <span class="circle circle-6 radius-full mb-3"></span>
                            <span class="text-center">بیش از 34 هزار میلیارد تومان دارایی تحت مدیریت</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xs-12 left flex justify-center">
                <div class="news-column">
                    <h3 class="mb-5">آخرین اخبار</h3>
                    <div class="flex-column">
                        {% for post in posts %}
                            <a class="item row mb-3" href="{{post.link}}">
                                <div class="col-lg-4 col-xs-4 image">
                                    <picture>
                                        <source srcset="{{ post.thumbnail.src('medium')|towebp }}" type="image/webp">
                                        <source srcset="{{ post.thumbnail.src('medium')|tojpg }}" type="image/jpeg">
                                        <img class="w-100 h-auto radius-small" src="{{ post.thumbnail.src('medium')|tojpg }}" alt="{{ post.title }}">
                                    </picture>
                                </div>
                                <div class="col-lg-8 col-xs-8 flex-column content">
                                    <span class="title mb-2">{{post.title}}</span>
                                    <span class="date">{{post.date}}</span>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="footer flex">
                        <a class="more flex align-center strong" href="{{ site.link }}/news/">مشاهده اخبار</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
