<section class="Home__pros py-7">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xs-12 right flex-column align-center">
                <div class="top-box flex-column mb-7">
                    <h2 class="mb-2">مدیریت دارایی مفید</h2>
                    <h3 class="mb-5">آینده در گرو تصمیمات امروز شماست</h3>
                    <p class="mb-5">
                        دستیابی به بازدهی مثبت در بورس نیازمند یادگیری، صرف زمان و هزینه‌ی زیادی است. اگر علاقه‌مند به سرمایه‌گذاری هستید اما فرصت کافی برای یادگیری روش‌های تحلیل در بورس ندارید صندوق‌های سرمایه‌گذاری انتخاب هوشمندانه‌ای هستند.
                    </p>
                    <div class="footer flex align-center">
                        <a class="Button blue medium ml-6" href="https://www.emofid.com/forms/investmentform/">ثبت درخواست مشاوره رایگان</a>
                        <a class="more flex align-center" href="{{ site.link }}/investment/">اطلاعات بیشتر</a>
                    </div>
                </div>

                <div class="pros-box flex-column">
                    <h3 class="mb-4">مزایای صندوق‌های سرمایه‌گذاری</h3>
                    <div class="pros pros-wrapper flex-column">

                        {% set firstItem = advantages|first %}
                        {% for advantage in advantages %}

                            <div class="item mb-4 {% if firstItem.title == advantage.title %}active{% endif %}">
                                <div class="progress"></div>
                                <div class="content pr-4">
                                    <h3 class="my-2">{{ advantage.title }}</h3>
                                    <p>{{ advantage.content }}</p>
                                </div>
                            </div>
                            
                        {% endfor %}

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12 left flex justify-center align-end">

                <picture class="cover-image">
                    <source srcset="{{theme.link}}/assets/images/home-pros-1.webp" type="image/webp">
                    <source srcset="{{theme.link}}/assets/images/home-pros-1.jpg" type="image/jpg">
                    <img alt="{{site.title}}" src="{{theme.link}}/assets/images/home-pros-1.jpg" width="577" height="595">
                </picture>
            </div>
        </div>
    </div>
</section>
