<section class="Branches py-7 mb-5">
    <div class="container-sm">
        <div class="wrapper flex-column">
            <h2 class="text-center t-24 text-darker mb-7">شعب کارگزاری مفید</h2>
            <div class="gallery swiper-container relative mb-5">
                <div class="gallery-wrapper swiper-wrapper">
                    <div class="gallery-item swiper-slide">
                        <img class="radius-small" src="{{ theme.link }}/dist/images/pages/contact/branch-1.png" />
                    </div>
                    <div class="gallery-item swiper-slide">
                        <img class="radius-small" src="{{ theme.link }}/dist/images/pages/contact/branch-1.png" />
                    </div>
                    <div class="gallery-item swiper-slide">
                        <img class="radius-small" src="{{ theme.link }}/dist/images/pages/contact/branch-1.png" />
                    </div>
                    <div class="gallery-item swiper-slide">
                        <img class="radius-small" src="{{ theme.link }}/dist/images/pages/contact/branch-1.png" />
                    </div>
                    <div class="gallery-item swiper-slide">
                        <img class="radius-small" src="{{ theme.link }}/dist/images/pages/contact/branch-1.png" />
                    </div>
                    <div class="gallery-item swiper-slide">
                        <img class="radius-small" src="{{ theme.link }}/dist/images/pages/contact/branch-1.png" />
                    </div>
                    <div class="gallery-item swiper-slide">
                        <img class="radius-small" src="{{ theme.link }}/dist/images/pages/contact/branch-1.png" />
                    </div>
                    <div class="gallery-item swiper-slide">
                        <img class="radius-small" src="{{ theme.link }}/dist/images/pages/contact/branch-1.png" />
                    </div>
                </div>
            </div>
            <p class="text-center t-16 lh-26 text-medium mb-6">
                با بیش از ۵۰ شعبه در سرتاسر ایران در کنار شما هستیم.
            </p>
            <div class="options flex justify-center align-center">
                <button class="on-map Button blue outline ml-4 flex align-center">مشاهده روی نقشه</button>
                <a class="branches t-14 lh-26 flex align-center" href="#">آدرس شعب کارگزاری مفید</a>
            </div>
        </div>
    </div>
</section>
