<section class="Images py-6 mb-7">
    <div class="container-sm flex-column align-center">
        <div class="wrapper relative flex align-end mb-6">
            <div class="column-1 flex-column">
                <img class="circle absolute" src="{{ theme.link }}/dist/images/circle-green.svg" />
                <img class="cover mb-3" src="{{ theme.link }}/dist/images/contact-image-1.png" />
                <div class="flex justify-center align-center data">
                    <img class="dots ml-6" src="{{ theme.link }}/dist/images/dots-2.svg" />
                    <span class="value ml-3 t-20 text-darker">۷۰۰</span>
                    <span class="label t-16 lh-26 text-darker">نیروی متخصص پشتیبان</span>
                </div>
            </div>
            <div class="column-2 flex-column">
                <span class="title t-18 lh-30 text-darker mb-4">بزرگترین مرکز خدمات بازار سرمایه ایران</span>
                <img class="dots mb-4" src="{{ theme.link }}/dist/images/dots-1.svg" />
                <img class="image" src="{{ theme.link }}/dist/images/contact-image-2.png" />
            </div>
        </div>
        <p class="caption t-16 lh-26 text-medium text-center">
            مرکز خدمات مفید با به کارگیری بیش از ۶۰۰ نفر نیروی متخصص بزرگترین مرکز خدمات بازار سرمایه ایران است.
            این مرکز در ۲۴ ساعت شبانه روز و در ۷ روز هفته، حتی روزهای تعطیل، در حال پاسخگویی به مشتریان بازار سرمایه است.
        </p>
    </div>
</section>
