<section class="News__notifications mb-6">
    <div class="container-md">
        {% for announcement in announcements %}
            <div class="wrapper flex">
                <a class="thumbnail flex" href="#">
                    <picture>
                        <source srcset="{{ announcement.thumbnail.src|towebp }}" type="image/webp">
                        <source srcset="{{ announcement.thumbnail.src|tojpg }}" type="image/jpeg">
                        <img class="w-100 h-auto radius-small" src="{{ announcement.thumbnail.src|tojpg }}" alt="{{ announcement.title }}">
                    </picture>
                </a>
                <div class="contents flex-column justify-center pr-3">
                    <a class="title t-16 mb-2 strong" href="#">اطلاعیه</a>
                    <a class="texts flex align-center" href="#">
                        <p class="t-16 text-dark ml-4">{{announcement.title}}</p>
                        <span class="t-14 text-blue-dark more flex align-center">مشاهده</span>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
