<section class="Archive__list mb-8">
    <div class="container-sm">

        <div class="flex-column">
            {% for post in posts %}
                <a class="post mb-6" href="{{ post.link }}" title="{{ post.title }}">
                    <div class="flex-column">
                        <div class="top flex mb-3">
                            <div class="thumbnail">
                                <picture class="flex">
                                    <source srcset="{{ post.thumbnail.src|towebp }}" type="image/webp">
                                    <source srcset="{{ post.thumbnail.src|tojpg }}" type="image/jpeg">
                                    <img class="w-100 h-auto radius-small" src="{{ post.thumbnail.src|tojpg }}" alt="{{ post.title }}">
                                </picture>
                            </div>
                            <div class="content flex-column justify-center flex-1 pr-3">
                                <h2 class="t-16 text-dark mb-2">{{ post.title }}</h2>
                                <span class="t-12 text-light">{{ post.date }}</span>
                            </div>
                        </div>
                        <p class="bottom t-16 text-dark">
                            {{ post.preview.length(30).read_more('') }}
                        </p>
                    </div>
                </a>
            {% endfor %}
        </div>

        {% include 'components/pagination.twig' with posts %}
        
    </div>
</section>
