<section class="About__gallery mb-7">
    <div class="container-md">
        <h2 class="t-24 text-darker text-center mb-6">همکاری با کارگزاری مفید</h2>
        <div class="row">
            <div class="left hide-scrollbar col-xs-12 col-lg-4 pl-7">
                <div class="scroller flex-column">
                    <div class="item t-14 text-darker p-3 radius cursor-pointer flex align-center" data-tab-type="gallery" data-tab-id="1">مرکز خدمات شعبه شریعتی</div>
                    <div class="item t-14 text-darker p-3 radius cursor-pointer flex align-center" data-tab-type="gallery" data-tab-id="2">ساختمان اطلس</div>
                    <div class="item t-14 text-darker p-3 radius cursor-pointer flex align-center" data-tab-type="gallery" data-tab-id="3">ساختمان مفید اکس</div>
                </div>
            </div>
            <div class="right col-xs-12 col-lg-8">
                <div class="about-gallery-carousel-1 swiper-container" data-content-type="gallery" data-content-id="1">
                    <div class="swiper-wrapper mb-5">
                        <div class="swiper-slide flex-column radius-small overflow-hidden">
                            <img src="{{ theme.link }}/assets/images/pages/about/gallery/01.jpg" width="720" height="406" alt="کارگزاری مفید | مرکز خدمات شعبه شریعتی" />
                        </div>
                        <div class="swiper-slide flex-column radius-small overflow-hidden">
                            <img src="{{ theme.link }}/assets/images/pages/about/gallery/02.jpg" width="720" height="406" alt="کارگزاری مفید | مرکز خدمات شعبه شریعتی" />
                        </div>
                        <div class="swiper-slide flex-column radius-small overflow-hidden">
                            <img src="{{ theme.link }}/assets/images/pages/about/gallery/03.jpg" width="720" height="406" alt="کارگزاری مفید | مرکز خدمات شعبه شریعتی" />
                        </div>
                    </div>
                    <div class="slider-footer flex align-center mx-auto">
                        <div class="swiper-scrollbar gallery-scrollbar gallery-scrollbar-1 cursor-pointer"></div>
                        <span class="next-gallery next-gallery-1 flex"></span>
                    </div>
                </div>
                <div class="about-gallery-carousel-2 swiper-container" data-content-type="gallery" data-content-id="2">
                    <div class="swiper-wrapper mb-5">
                        <div class="swiper-slide flex-column radius-small overflow-hidden">
                            <img src="{{ theme.link }}/assets/images/pages/about/gallery/04.jpg" width="720" height="406" alt="کارگزاری مفید | ساختمان اطلس" />
                        </div>
                        <div class="swiper-slide flex-column radius-small overflow-hidden">
                            <img src="{{ theme.link }}/assets/images/pages/about/gallery/05.jpg" width="720" height="406" alt="کارگزاری مفید | ساختمان اطلس" />
                        </div>
                        <div class="swiper-slide flex-column radius-small overflow-hidden">
                            <img src="{{ theme.link }}/assets/images/pages/about/gallery/06.jpg" width="720" height="406" alt="کارگزاری مفید | ساختمان اطلس" />
                        </div>
                    </div>
                    <div class="slider-footer flex align-center mx-auto">
                        <div class="swiper-scrollbar gallery-scrollbar gallery-scrollbar-2 cursor-pointer"></div>
                        <span class="next-gallery next-gallery-2 flex"></span>
                    </div>
                </div>
                <div class="about-gallery-carousel-3 swiper-container" data-content-type="gallery" data-content-id="3">
                    <div class="swiper-wrapper mb-5">
                        <div class="swiper-slide flex-column radius-small overflow-hidden">
                            <img src="{{ theme.link }}/assets/images/pages/about/gallery/07.jpg" width="720" height="406" alt="کارگزاری مفید | ساختمان مفید اکس" />
                        </div>
                        <div class="swiper-slide flex-column radius-small overflow-hidden">
                            <img src="{{ theme.link }}/assets/images/pages/about/gallery/08.jpg" width="720" height="406" alt="کارگزاری مفید | ساختمان مفید اکس" />
                        </div>
                        <div class="swiper-slide flex-column radius-small overflow-hidden">
                            <img src="{{ theme.link }}/assets/images/pages/about/gallery/09.jpg" width="720" height="406" alt="کارگزاری مفید | ساختمان مفید اکس" />
                        </div>
                    </div>
                    <div class="slider-footer flex align-center mx-auto">
                        <div class="swiper-scrollbar gallery-scrollbar gallery-scrollbar-3 cursor-pointer"></div>
                        <span class="next-gallery next-gallery-3 flex"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
