<section class="About__gallery mb-7">
    <div class="container-md">
        <h2 class="t-24 text-darker text-center mb-6">همکاری با کارگزاری مفید</h2>
        <div class="row">
            <div class="left hide-scrollbar col-xs-12 col-lg-4 pl-7">
                <div class="scroller flex-column">
                    <div class="item t-14 text-darker p-3 radius cursor-pointer flex align-center" data-tab-type="gallery" data-tab-id="1">مرکز خدمات شعبه شریعتی</div>
                    <div class="item t-14 text-darker p-3 radius cursor-pointer flex align-center" data-tab-type="gallery" data-tab-id="2">ساختمان اطلس</div>
                    <div class="item t-14 text-darker p-3 radius cursor-pointer flex align-center" data-tab-type="gallery" data-tab-id="3">ساختمان مفید اکس</div>
                </div>
            </div>
            <div class="right col-xs-12 col-lg-8">
                <div class="about-gallery-carousel swiper-container">
                    <div class="swiper-wrapper mb-5">
                        <div class="swiper-slide flex-column radius-small overflow-hidden">
                            <img src="{{ theme.link }}/assets/images/demo/gallery-1.jpg" />
                        </div>
                        <div class="swiper-slide flex-column radius-small overflow-hidden">
                            <img src="{{ theme.link }}/assets/images/demo/gallery-1.jpg" />
                        </div>
                        <div class="swiper-slide flex-column radius-small overflow-hidden">
                            <img src="{{ theme.link }}/assets/images/demo/gallery-1.jpg" />
                        </div>
                        <div class="swiper-slide flex-column radius-small overflow-hidden">
                            <img src="{{ theme.link }}/assets/images/demo/gallery-1.jpg" />
                        </div>
                        <div class="swiper-slide flex-column radius-small overflow-hidden">
                            <img src="{{ theme.link }}/assets/images/demo/gallery-1.jpg" />
                        </div>
                    </div>
                    <div class="slider-footer flex align-center mx-auto">
                        <div class="swiper-scrollbar gallery-scrollbar cursor-pointer"></div>
                        <span class="next-gallery flex"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
