<section class="About__honors mb-7">
    <div class="container-sm">
        <div class="center col-lg-12 col-xs-12">
            <h2 class="t-20 text-darker text-center mb-7">افتخارات ما</h3>
        </div>
    </div>
    <div class="container-sm">
        <div class="wrapper flex-column">
            <div class="swiper honors relative mb-5">
                <div class="swiper-wrapper mb-5">
                    <div class="swiper-slide">
                        <img class="radius-small" src="{{theme.link}}/assets/images/pages/about/honor-01.png" />
                        <p class="t-14 text-medium mt-3 mb-2">
                            فعال‌ترین کارگزار در اخذ بیشترین نسبت معاملات برخط به کل معاملات در سال 1397
                        </p>
                        <a class="more flex align-center t-14" href="#">مشاهده</a>
                    </div>
                    <div class="swiper-slide">
                        <img class="radius-small" src="{{theme.link}}/assets/images/pages/about/honor-02.png" />
                        <p class="t-14 text-medium mt-3 mb-2">
                            کارگزار برتر در سال‌های 2017 و 2018 و 2020 به انتخاب فدراسیون بورسهای اروپایی و آسیایی (FEAS)
                        </p>
                    </div>
                    <div class="swiper-slide">
                        <img class="radius-small" src="{{theme.link}}/assets/images/pages/about/honor-02.png" />
                        <p class="t-14 text-medium mt-3 mb-2">
                            فعالترین سبدگردان در دارایی‌های تحت مدیریت در سال 1397
                        </p>
                        <a class="more flex align-center t-14" href="#">مشاهده</a>
                    </div>
                    <div class="swiper-slide">
                        <img class="radius-small" src="{{theme.link}}/assets/images/pages/about/honor-02.png" />
                        <p class="t-14 text-medium mt-3 mb-2">
                            فعالترین سبدگردان در دارایی‌های تحت مدیریت در سال 1397
                        </p>
                        <a class="more flex align-center t-14" href="#">مشاهده</a>
                    </div>
                    <div class="swiper-slide">
                        <img class="radius-small" src="{{theme.link}}/assets/images/pages/about/honor-02.png" />
                        <p class="t-14 text-medium mt-3 mb-2">
                            فعالترین سبدگردان در دارایی‌های تحت مدیریت در سال 1397
                        </p>
                        <a class="more flex align-center t-14" href="#">مشاهده</a>
                    </div>
                    <div class="swiper-slide">
                        <img class="radius-small" src="{{theme.link}}/assets/images/pages/about/honor-02.png" />
                        <p class="t-14 text-medium mt-3 mb-2">
                            فعالترین سبدگردان در دارایی‌های تحت مدیریت در سال 1397
                        </p>
                        <a class="more flex align-center t-14" href="#">مشاهده</a>
                    </div>
                </div>
                <div class="swiper-scrollbar honors-scrollbar"></div>
                <span class="next-honor flex"></span>
            </div>
        </div>
    </div>
</section>
