<section class="About__managers mb-8">
    <div class="container-sm">
        <div class="wrapper flex-column mb-7">
            <h2 class="t-20 text-darker text-center mb-6">مدیران مفید</h2>
            <div class="wrapper">
                <div class="row">
                    <div class="right col-lg-5 col-xs-12 flex justify-end pl-4">
                        <img class="radius-small" src="{{theme.link}}/assets/images/pages/about/amirAzarakhsh.jpg" />
                    </div>
                    <div class="left col-lg-6 col-xs-12 justify-start pr-4">
                        <span class="t-14 flex text-darker mb-2"><strong>حمید آذرخش</strong></span>
                        <span class="t-12 flex text-dark mb-4">موسس و رئیس هیئت مدیره شرکت کارگزاری مفید</span>
                        <span class="t-12 text-darker">تلاش مفید معطوف به چند موضوع است: ایجاد دسترسی افراد بیشتر به بازار سرمایه، ایجاد خدمات با بهترین کیفیت با التزام به حفظ سرمایه و نفع سرمایه گذاران. اعتماد مشتریان و سلامت کاری مهم ترین سرمایه ماست. تلاش می کنیم تا از این سرمایه محافظت کنیم.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper flex-column mb-2">
            <div class="tabs-wrapper flex-column align-center">
                <div class="tabs hide-scrollbar flex-column">
                    <div class="head flex justify-center">
                        <button class="t-14 lh-30 px-3" data-tab-type="1" data-tab-id="1">کارگزاری مفید</button>
                        <button class="t-14 lh-30 px-3" data-tab-type="1" data-tab-id="2">انتخاب مفید</button>
                        <button class="t-14 lh-30 px-3" data-tab-type="1" data-tab-id="3">پردازش اطلاعات مالی پویا</button>
                        <button class="t-14 lh-30 px-3" data-tab-type="1" data-tab-id="4">مشاور سرمایه‌گذاری ایده مفید</button>
                    </div>
                </div>
                <div class="body">
                    <div class="tab-content-item py-4 flex justify-center align-center" data-content-type="1" data-content-id="1">
                        <img class="ml-7" src="{{ theme.link }}/assets/images/pages/contact/mofid-logo.svg" />
                        <div class="contact-details flex-column t-14 lh-26">
                            <div class="item phone flex justify-space-between align-center py-3">
                                <span class="key text-darker">شماره تلفن</span>
                                <span class="value text-light">۹۱۰۰۸۷۰۰(۰۲۱)</span>
                            </div>
                            <div class="item mail flex justify-space-between align-center py-3">
                                <span class="key text-darker">ایمیل</span>
                                <span class="value text-light">8700@emofid.com</span>
                            </div>
                            <div class="item phone flex justify-space-between align-center py-3">
                                <span class="key text-darker">فکس</span>
                                <span class="value text-light"></span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content-item py-4 flex justify-center align-center" data-content-type="1" data-content-id="2" style="display: none;">
                        <img class="ml-7" src="{{ theme.link }}/assets/images/pages/contact/entekhab-logo.svg" />
                        <div class="contact-details flex-column t-14 lh-26">
                            <div class="item phone flex justify-space-between align-center py-3">
                                <span class="key text-darker">شماره تلفن</span>
                                <span class="value text-light">۸۱۹۰۷(۰۲۱)</span>
                            </div>
                            <div class="item mail flex justify-space-between align-center py-3">
                                <span class="key text-darker">ایمیل</span>
                                <span class="value text-light">info@mofidentekhab.com</span>
                            </div>
                            <div class="item phone flex justify-space-between align-center py-3">
                                <span class="key text-darker">فکس</span>
                                <span class="value text-light">۰۲۱-۸۱۹۰۹</span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content-item py-4 flex justify-center align-center" data-content-type="1" data-content-id="3" style="display: none;">
                        <img class="ml-7" src="{{ theme.link }}/assets/images/pages/contact/pouya-logo.svg" />
                        <div class="contact-details flex-column t-14 lh-26">
                            <div class="item phone flex justify-space-between align-center py-3">
                                <span class="key text-darker">شماره تلفن</span>
                                <span class="value text-light">۸۱۹۰۳(۰۲۱)</span>
                            </div>
                            <div class="item mail flex justify-space-between align-center py-3">
                                <span class="key text-darker">ایمیل</span>
                                <span class="value text-light">info@pouyafinance.com</span>
                            </div>
                            <div class="item phone flex justify-space-between align-center py-3">
                                <span class="key text-darker">فکس</span>
                                <span class="value text-light"></span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content-item py-4 flex justify-center align-center" data-content-type="1" data-content-id="4" style="display: none;">
                        <img class="ml-7" src="{{ theme.link }}/assets/images/pages/contact/idea-logo.svg" />
                        <div class="contact-details flex-column t-14 lh-26">
                            <div class="item phone flex justify-space-between align-center py-3">
                                <span class="key text-darker">شماره تلفن</span>
                                <span class="value text-light">۸۱۹۰۴(۰۲۱)</span>
                            </div>
                            <div class="item mail flex justify-space-between align-center py-3">
                                <span class="key text-darker">ایمیل</span>
                                <span class="value text-light">info@mofididea.com</span>
                            </div>
                            <div class="item phone flex justify-space-between align-center py-3">
                                <span class="key text-darker">فکس</span>
                                <span class="value text-light"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper flex-column">
            <div class="managers no-before swiper-container relative">
                <div class="managers-wrapper swiper-wrapper mb-2">
                    <div class="managers-item swiper-slide flex flex-column text-center">
                        <img class="radius-small" src="{{ theme.link }}/assets/images/pages/about/hadiMehrii.jpg" />
                        <h4 class="t-14 text-medium mt-3 mb-2">هادی مهری</h4>
                        <p class="t-14 text-light mb-2 px-1">
                            مدیر عامل شرکت کارگزاری مفید
                        </p>
                    </div>
                    <div class="managers-item swiper-slide flex flex-column text-center">
                        <img class="radius-small" src="{{ theme.link }}/assets/images/pages/about/mehdiAzarakhsh.jpg" />
                        <h4 class="t-14 text-medium mt-3 mb-2">مهدی آذرخش</h4>
                        <p class="t-14 text-light mb-2 px-1">
                            قائم مقام مدیرعامل
                        </p>
                    </div>
                    <div class="managers-item swiper-slide flex flex-column text-center">
                        <img class="radius-small" src="{{ theme.link }}/assets/images/pages/about/hasanAzarakhsh.jpg" />
                        <h4 class="t-14 text-medium mt-3 mb-2">حسن آذرخش</h4>
                        <p class="t-14 text-light mb-2 px-1">
                            عضو هیئت مدیره
                        </p>
                    </div>
                    <div class="managers-item swiper-slide flex flex-column text-center">
                        <img class="radius-small" src="{{ theme.link }}/assets/images/pages/about/aliAzarakhsh.jpg" />
                        <h4 class="t-14 text-medium mt-3 mb-2">محمدعلی آذرخش</h4>
                        <p class="t-14 text-light mb-2 px-1">
                            معاون اجرایی
                        </p>
                    </div>
                    <div class="managers-item swiper-slide flex flex-column text-center">
                        <img class="radius-small" src="{{ theme.link }}/assets/images/pages/about/mehdiZamanifar.jpg" />
                        <h4 class="t-14 text-medium mt-3 mb-2">مهدی زمانی‌فر</h4>
                        <p class="t-14 text-light mb-2 px-1">
                            معاون بورس کالا
                        </p>
                    </div>
                    <div class="managers-item swiper-slide flex flex-column text-center">
                        <img class="radius-small" src="{{ theme.link }}/assets/images/pages/about/mehdiZamanifar.jpg" />
                        <h4 class="t-14 text-medium mt-3 mb-2">مهدی زمانی‌فر</h4>
                        <p class="t-14 text-light mb-2 px-1">
                            معاون بورس کالا
                        </p>
                    </div>
                </div>
                <div class="swiper-scrollbar manager-scrollbar"></div>
                <span class="next-manager flex"></span>
            </div>
        </div>
    </div>
</section>
