<section class="About__managers mb-8">
    <div class="container-sm">
        <div class="wrapper flex-column mb-7">
            <div class="wrapper">
                <div class="row">
                    <div class="right col-lg-5 col-xs-12 flex justify-end pl-4">
                        <img class="radius-small" src="{{theme.link}}/assets/images/pages/about/amirAzarakhsh.jpg" />
                    </div>
                    <div class="left col-lg-6 col-xs-12 justify-start pr-4">
                        <h3 class="t-14 text-darker mb-2">حمید آذرخش</h3>
                        <h4 class="t-12 text-dark mb-4">موسس و رئیس هیئت مدیره شرکت کارگزاری مفید</h4>
                        <p class="quote t-12 flex-column text-darker">تلاش مفید معطوف به چند موضوع است: ایجاد دسترسی افراد بیشتر به بازار سرمایه، ایجاد خدمات با بهترین کیفیت با التزام به حفظ سرمایه و نفع سرمایه گذاران. اعتماد مشتریان و سلامت کاری مهم ترین سرمایه ماست. تلاش می کنیم تا از این سرمایه محافظت کنیم.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper flex-column">
            <div class="managers no-before swiper-container relative" dir="rtl">
                <div class="managers-wrapper swiper-wrapper mb-2">
                    <div class="managers-item swiper-slide flex flex-column text-center">
                        <img class="radius-small" src="{{ theme.link }}/assets/images/pages/about/hadi-mehri.jpg" width="180" height="180" />
                        <h4 class="t-14 text-medium mt-3 mb-2">هادی مهری</h4>
                        <p class="t-14 text-light mb-2 px-1">
                            مدیرعامل
                        </p>
                    </div>
                    <div class="managers-item swiper-slide flex flex-column text-center">
                        <img class="radius-small" src="{{ theme.link }}/assets/images/pages/about/hasan-azarakhsh.jpg" width="180" height="180" />
                        <h4 class="t-14 text-medium mt-3 mb-2">حسن آذرخش</h4>
                        <p class="t-14 text-light mb-2 px-1">
                            نایب‌رئیس هیات مدیره
                        </p>
                    </div>
                    <div class="managers-item swiper-slide flex flex-column text-center">
                        <img class="radius-small" src="{{ theme.link }}/assets/images/pages/about/mehdi-azarakhsh.jpg" width="180" height="180" />
                        <h4 class="t-14 text-medium mt-3 mb-2">مهدی آذرخش</h4>
                        <p class="t-14 text-light mb-2 px-1">
                            قائم‌مقام مدیرعامل
                        </p>
                    </div>
                    <div class="managers-item swiper-slide flex flex-column text-center">
                        <img class="radius-small" src="{{ theme.link }}/assets/images/pages/about/mohammadali-azarakhsh.jpg" width="180" height="180" />
                        <h4 class="t-14 text-medium mt-3 mb-2">محمدعلی آذرخش</h4>
                        <p class="t-14 text-light mb-2 px-1">
                            معاون اجرایی
                        </p>
                    </div>
                    <div class="managers-item swiper-slide flex flex-column text-center">
                        <img class="radius-small" src="{{ theme.link }}/assets/images/pages/about/mehdi-zamanifar.jpg" width="180" height="180" />
                        <h4 class="t-14 text-medium mt-3 mb-2">مهدی زمانی‌فر</h4>
                        <p class="t-14 text-light mb-2 px-1">
                            معاون بورس کالا
                        </p>
                    </div>
                    <div class="managers-item swiper-slide flex flex-column text-center">
                        <img class="radius-small" src="{{ theme.link }}/assets/images/pages/about/morteza-estahri.jpg" width="180" height="180" />
                        <h4 class="t-14 text-medium mt-3 mb-2">مرتضی استهری</h4>
                        <p class="t-14 text-light mb-2 px-1">
                            مدیر سرمایه‌گذاری
                        </p>
                    </div>
                    <div class="managers-item swiper-slide flex flex-column text-center">
                        <img class="radius-small" src="{{ theme.link }}/assets/images/pages/about/hojatollah-nosratian.jpg" width="180" height="180" />
                        <h4 class="t-14 text-medium mt-3 mb-2">حجت‌اله نصرتیان</h4>
                        <p class="t-14 text-light mb-2 px-1">
                            مدیر‌عامل شرکت انتخاب مفید
                        </p>
                    </div>
                    <div class="managers-item swiper-slide flex flex-column text-center">
                        <img class="radius-small" src="{{ theme.link }}/assets/images/pages/about/mehdi-seyfollahi.jpg" width="180" height="180" />
                        <h4 class="t-14 text-medium mt-3 mb-2">مهدی سیف‌اللهی</h4>
                        <p class="t-14 text-light mb-2 px-1">
                            مدیر‌عامل شرکت پویا
                        </p>
                    </div>
                    <div class="managers-item swiper-slide flex flex-column text-center">
                        <img class="radius-small" src="{{ theme.link }}/assets/images/pages/about/hamidreza-mokhtarian.jpg" width="180" height="180" />
                        <h4 class="t-14 text-medium mt-3 mb-2">حمیدرضا مختاریان</h4>
                        <p class="t-14 text-light mb-2 px-1">
                            مدیر ارشد دیجیتال
                        </p>
                    </div>
                    <div class="managers-item swiper-slide flex flex-column text-center">
                        <img class="radius-small" src="{{ theme.link }}/assets/images/pages/about/hadi-dalirian.jpg" width="180" height="180" />
                        <h4 class="t-14 text-medium mt-3 mb-2">هادی دلیریان</h4>
                        <p class="t-14 text-light mb-2 px-1">
                            مدیر حساب مشتریان
                        </p>
                    </div>
                    <div class="managers-item swiper-slide flex flex-column text-center">
                        <img class="radius-small" src="{{ theme.link }}/assets/images/pages/about/mohammadamin-nahid.jpg" width="180" height="180" />
                        <h4 class="t-14 text-medium mt-3 mb-2">محمدامین ناهید</h4>
                        <p class="t-14 text-light mb-2 px-1">
                            مدیر بازاریابی
                        </p>
                    </div>
                    <div class="managers-item swiper-slide flex flex-column text-center">
                        <img class="radius-small" src="{{ theme.link }}/assets/images/pages/about/rasoul-vafaei.jpg" width="180" height="180" />
                        <h4 class="t-14 text-medium mt-3 mb-2">رسول وفائی</h4>
                        <p class="t-14 text-light mb-2 px-1">
                            مدیر مالی
                        </p>
                    </div>
                    <div class="managers-item swiper-slide flex flex-column text-center">
                        <img class="radius-small" src="{{ theme.link }}/assets/images/pages/about/rahim-sadeghi.jpg" width="180" height="180" />
                        <h4 class="t-14 text-medium mt-3 mb-2">رحیم صادقی</h4>
                        <p class="t-14 text-light mb-2 px-1">
                            مدیر معاملات اوراق بهادار
                        </p>
                    </div>
                    <div class="managers-item swiper-slide flex flex-column text-center">
                        <img class="radius-small" src="{{ theme.link }}/assets/images/pages/about/mohammadmehdi-saleh.jpg" width="180" height="180" />
                        <h4 class="t-14 text-medium mt-3 mb-2">محمدمهدی صالح</h4>
                        <p class="t-14 text-light mb-2 px-1">
                            مدیر سرمایه انسانی
                        </p>
                    </div>
                    <div class="managers-item swiper-slide flex flex-column text-center">
                        <img class="radius-small" src="{{ theme.link }}/assets/images/pages/about/ahad-rajayi.jpg" width="180" height="180" />
                        <h4 class="t-14 text-medium mt-3 mb-2">احد رجائی</h4>
                        <p class="t-14 text-light mb-2 px-1">
                            مدیر شبکه فروش
                        </p>
                    </div>
                    <div class="managers-item swiper-slide flex flex-column text-center">
                        <img class="radius-small" src="{{ theme.link }}/assets/images/pages/about/alireza-adman.jpg" width="180" height="180" />
                        <h4 class="t-14 text-medium mt-3 mb-2">علیرضا آدمن</h4>
                        <p class="t-14 text-light mb-2 px-1">
                            مدیر سرمایه‌گذاری اختصاصی
                        </p>
                    </div>
                    <div class="managers-item swiper-slide flex flex-column text-center">
                        <img class="radius-small" src="{{ theme.link }}/assets/images/pages/about/mohsen-motmaen.jpg" width="180" height="180" />
                        <h4 class="t-14 text-medium mt-3 mb-2">محسن مطمئن</h4>
                        <p class="t-14 text-light mb-2 px-1">
                            مدیرعامل شرکت ایده
                        </p>
                    </div>
                    <div class="managers-item swiper-slide flex flex-column text-center">
                        <img class="radius-small" src="{{ theme.link }}/assets/images/pages/about/mohammadamin-zare.jpg" width="180" height="180" />
                        <h4 class="t-14 text-medium mt-3 mb-2">محمدامین زارع</h4>
                        <p class="t-14 text-light mb-2 px-1">
                            مدیر مرکز خدمات
                        </p>
                    </div>
                    <div class="managers-item swiper-slide flex flex-column text-center">
                        <img class="radius-small" src="{{ theme.link }}/assets/images/pages/about/mohammadali-tafti.jpg" width="180" height="180" />
                        <h4 class="t-14 text-medium mt-3 mb-2">محمدعلی تفتی</h4>
                        <p class="t-14 text-light mb-2 px-1">
                            مدیر فناوری اطلاعات
                        </p>
                    </div>
                </div>
                <div class="slider-footer flex align-center">
                    <div class="swiper-scrollbar manager-scrollbar cursor-pointer"></div>
                    <span class="next-manager flex"></span>
                </div>
    
            </div>
        </div>
    </div>
</section>
