<section class="About__over-time mb-6">
    <div class="container-sm">
        <div class="flex-column">
            <h2 class="t-20 text-darker text-center mb-5">مفید در گذر زمان</h2>
        </div>
    </div>
    <div class="container-md">
        <div class="tabs flex-column">
            <div class="head flex justify-center hide-scrollbar">
                <div class="inner flex cursor-pointer mb-6 pl-5 pr-5">

                    {% for item in overTimeItems %}
                        <div class="tab flex-1" data-tab-type="1" data-tab-id="{{ item.year }}"><span>{{ item.year }}</span></div>
                    {% endfor  %}

                </div>
            </div>
            <div class="contents">

                {% for item in overTimeItems %}
                    <div class="content py-4" data-content-type="1" data-content-id="{{ item.year }}">
                        <div class="container-md">
                            <div class="wrapper">
                                <div class="row">
                                    <div class="right col-lg-6 col-xs-12 flex-column justify-center">
                                        <div class="inner flex-column">
                                            <p class="t-16 lh-26 text-medium mb-5">{{ item.content }}</p>
                                        </div>
                                    </div>
                                    <div class="left col-lg-6 col-xs-12 flex justify-end">
                                        <img
                                            class="cover-image"
                                            src="{{theme.link}}/assets/images/pages/about/about-establishment.jpg"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
