<section class="About__over-time mb-8">
    <div class="container-sm">
        <div class="flex-column">
            <h2 class="t-20 text-darker text-center mb-5">کارگزاری مفید در گذر زمان</h2>
        </div>
    </div>
    <div class="container-md">
        <div class="tabs flex-column">
            <div class="head flex justify-center hide-scrollbar">
                <div class="inner flex cursor-pointer mb-6 pl-5 pr-5">
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="1"><span>1373</span></div>
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="2"><span>1381</span></div>
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="3"><span>1384</span></div>
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="4"><span>1387</span></div>
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="5"><span>1388</span></div>
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="6"><span>1389</span></div>
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="7"><span>1390</span></div>
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="8"><span>1391</span></div>
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="9"><span>1392</span></div>
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="10"><span>1393</span></div>
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="11"><span>1394</span></div>
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="12"><span>1395</span></div>
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="13"><span>1396</span></div>
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="14"><span>1397</span></div>
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="15"><span>1398</span></div>
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="16"><span>1399</span></div>
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="17"><span>امروز</span></div>
                </div>
            </div>
            <div class="contents">
                <div class="content py-4" data-content-type="1" data-content-id="1">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <p class="t-16 text-medium mb-5">
                                            مفید با دو نفر در یک دفتر ۴ متری فعالیتش را شروع کرد. مانند خیلی از شرکت‌های موفق در ایران هسته شکل‌گیری گروه مالی مفید هم یک خانواده بود. آن زمان حجم معاملات روزانه مفید ۳۰۰ هزار تومان در روز بود، در زمان مشابه قیمت یک عدد سیم کارت ۲۰۰ هزار تومان بود.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="2">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <p class="t-16 text-medium mb-5">
                                            با گسترش جغرافیایی بورس و افتتاح اولین تالار منطقه‌ای در مشهد مقدس، اولین شعبه کارگزاری مفید در این شهر افتتاح گردید.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="3">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <p class="t-14 text-medium mb-5">
                                            در این سال برای اولین بار معاملات سهام بر بستر اینترنتی را راه‌اندازی کردیم. به این وسیله امکان ارسال سفارش در همه ساعات شبانه روز مهیا شد.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="4">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <p class="t-14 text-medium mb-5">
                                             در این سال صندوق سرمایه‌گذاری مشترک "پیشتاز" پذیره نویسی شد و فعالیت خود را آغاز کرد.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="5">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <p class="t-14 text-medium mb-5">
                                            در این سال صندوق سرمایه گذاری توسعه "ممتاز" پذیره نویسی شد و آغاز به کار کرد.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="6">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <p class="t-14 text-medium mb-5">
                                            در این سال به عنوان اولین کارگزار بورس معاملات آنلاین را راه اندازی کردیم. "مفید آنلاین" فصل جدیدی در بازار سرمایه ایران را آغاز کرد.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="7">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <p class="t-14 text-medium mb-5">
                                            در این سال صندوق سرمایه‌گذاری مشترک "پیشرو" پذیره نویسی شد و شروع به فعالیت کرد.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="8">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <p class="t-14 text-medium mb-5">
                                            در  سال ۹۱ صندوق سرمایه‌گذاری مشترک "امید توسعه" پذیره نویسی شد و آغاز به کار کرد.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="9">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <p class="t-14 text-medium mb-5">
                                            در این سال باشگاه مشتریان مفید با نام پلکان به منظور ارائه خدمات ویژه به مشتریان کارگزاری راه‌اندازی شد. همچنین صندوق قابل معامله " اطلس" معرفی و پذیره نویسی آن انجام شد
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="10">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <p class="t-14 text-medium mb-5">
                                            در این سال طرح حامی با هدف تبدیل مانده حساب راکد مشتریان به سرمایه‌گذاری در قالب یک صندوق با درآمد ثابت برای اولین بار در بازار سرمایه ایران به مشتریان معرفی گردید.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="11">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <p class="t-14 text-medium mb-5">
                                            شرکت مشاور سرمایه‌گذاری "ایده مفید" در راستای ارتقای خدمات کارگزاری مفید فعالیت خود را آغاز کرد.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="12">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <p class="t-14 text-medium mb-5">
                                            به منظور تخصصی کردن فعالیت‌های مرتبط با مدیریت دارایی، شرکت "انتخاب مفید" فعالیت خود را آغاز کرد. همچنین پلتفرم معاملاتی آنلاین پلاس را رونمایی و در اختیار معامله‌گران قرار گرفت. سامانه تحلیلی "بورس ویو" نیز توسط شرکت تجزیه و تحلیل اطلاعات مالی پویا در این سال به فعالان بازار سرمایه معرفی شد.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="13">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <p class="t-14 text-medium mb-5">
                                            به عنوان اولین نهاد مالی مجوز گروه خدمات مالی در بازار سرمایه را دریافت کردیم
                                        </p>
                                        <p class="t-14 text-medium mb-5">
                                            گروه آزیموت و سبدگردان "انتخاب" مفید، مهرماه ۱۳۹۶ اقدام به امضای توافقنامه‌ای نمودند که بر اساس آن ۲۰ درصد از سهام سبدگردان انتخاب به آزیموت واگذار گردید. همچنین آزیموت و مفید همزمان یک توافقنامه سهامداری با هدف ایجاد زیرساخت و تولید یک پلتفرم مشاوره مالی داخلی و نیز تاسیس یک صندوق سرمایه گذاری در خارج از مرزهای ایران جهت تسهیل دسترسی سرمایه گذاران خارجی به بازار سرمایه ایران منعقد کردند.
                                        </p>
                                        <p class="t-14 text-medium mb-5">
                                            جهت ارائه خدمات هرچه بهتر به معامله‌گران سامانه معاملاتی اختصاصی مفید با نام ایزی تریدر را به بازار سرمایه ایران معرفی شد.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="14">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <p class="t-14 text-medium mb-5">
                                            در این سال اولین مرکز مشاوره سرمایه‌گذاری در بورس با هدف آگاهی بخشی عمومی آغاز به کار کرد. همچنین اولین صندوق ETF کارگزاری مفید در اوراق مبتنی بر سکه طلا با عنوان «عیار» به بازار سرمایه معرفی شد. آکادمی مفید نیز با هدف جذب و شکوفایی استعدادهای برتر دانشگاه‌های مطرح کشور در بازار سرمایه راه اندازی شد.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="15">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <p class="t-14 text-medium mb-5">
                                            کارگزاری مفید نشان نقره‌ای لیگ قهرمانان فیاس را در رقابت با کارگزاران برتر ۳۲ کشور جهان دریافت کرد.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="16">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <p class="t-14 text-medium mb-5">
                                            در این سال بزرگترین سامانه آموزش بورس در ایران راه‌اندازی گردید.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="17">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <p class="t-14 text-medium mb-5">
                                            بیش از ۵۰۰۰ نقطه ارائه خدمت در سراسر کشور برای کاربران مفید فراهم شده است. همینطور بزرگترین مرکز خدمات مشتریان بازار سرمایه کشور توسط کارگزاری مفید افتتاح راه‌اندازی شده است.<br>
                                            کارگزاری مفید نشان طلای لیگ قهرمانان فیاس را در رقابت با کارگزاران برتر ۳۲ کشور جهان دریافت کرد.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
