<section class="SinglePost__content mb-7">
    <div class="container-sm">
        <article class="flex-column">

            {% if post.meta('pre-title') %}
                <span class="t-14 text-lighter mb-3">{{ post.meta('pre-title') }}</span>
            {% endif %}

            <h1 class="t-24 text-darker mb-3">{{ post.title }}</h1>

            {% if post.meta('pre-content') %}
                <p class="t-14 lh-26 text-medium mb-3">{{ post.meta('pre-content') }}</p>
            {% endif %}

            <div class="flex align-center details mb-4">
                <div class="time item flex align-center t-12 text-light ml-5">
                    <span class="value">{{ post.date }}</span>
                </div>
                <div class="view item flex align-center t-12 text-light">
                    <span class="key ml-1">تعداد بازدید:</span>
                    <span class="value">{{ post_views }}</span>
                </div>
            </div>

            <picture class="thumbnail flex mb-4">
                <source srcset="{{ post.thumbnail.src|towebp }}" type="image/webp">
                <source srcset="{{ post.thumbnail.src|tojpg }}" type="image/jpeg">
                <img class="w-100 h-auto radius-small" src="{{ post.thumbnail.src|tojpg }}" alt="{{ post.title }}">
            </picture>

            <div class="content t-16 lh-26 text-dark mb-5">{{ post.content }}</div>

            <div class="utils flex">
                <a class="download-image flex align-center t-14 text-blue-dark" download target="_blank" href="{{ post.thumbnail.src }}">دانلود تصویر خبر</a>
            </div>

        </article>
    </div>
</section>
