<section class="bankaccounts__accounts py-7 mb-5">
    <div class="container-md">
        <div class="wrapper flex-column">
            <h2 class="t-20 mb-5">شماره حساب‌های شرکت کارگزاری مفید</h2>
            <div class="alert alert-danger">
                <div class="title">مشتری گرامی، لطفا از واگذاری چک به حساب کارگزاری مفید اکیدا خودداری کنید.</div>
                <hr>
                <p>
                    به هیچ وجه امکان شارژ حساب کاربری از این طریق وجود ندارد و مطابق با ضوابط، وجه حاصل از وصول چک به حساب صادرکننده آن برگشت داده می‌شود. کلیه عواقب ناشی از عدم توجه به این موضوع برعهده مشتری خواهد بود.
                </p>
            </div>
            <div class="collapse-item">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/mellat-bank.svg" />
                    <h5>بانک ملت</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                            <th>نوع حساب</th>
                            <th>شعبه</th>
                            <th>کد شعبه</th>
                            <th>شماره شبا</th>
                            <th>شماره حساب</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>جام</td>
                                <td>هفت تیر</td>
                                <td>63594</td>
                                <td>IR140120000000000250545315</td>
                                <td>250545315</td>
                            </tr>
                            <tr>
                                <td>جام</td>
                                <td>بورس‌</td>
                                <td>62059</td>
                                <td>IR120120000000000016710943</td>
                                <td>16710943</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="collapse-item">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/tejarat-bank.svg" />
                    <h5>بانک تجارت</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                            <th>نوع حساب</th>
                            <th>شعبه</th>
                            <th>کد شعبه</th>
                            <th>شماره شبا</th>
                            <th>شماره حساب</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>جاری</td>
                                <td>کار</td>
                                <td>110</td>
                                <td>IR870180000000000156350400</td>
                                <td>156350400</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="collapse-item">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/saderat-bank.svg" />
                    <h5>بانک صادرات</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                            <th>نوع حساب</th>
                            <th>شعبه</th>
                            <th>کد شعبه</th>
                            <th>شماره شبا</th>
                            <th>شماره حساب</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>سپهر</td>
                                <td>حافظ</td>
                                <td>1986</td>
                                <td>IR730190000000100840609000</td>
                                <td>0100840609000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="collapse-item">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/sepah-bank.svg" />
                    <h5>بانک سپه</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                            <th>نوع حساب</th>
                            <th>شعبه</th>
                            <th>کد شعبه</th>
                            <th>شماره شبا</th>
                            <th>شماره حساب</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>جاری</td>
                                <td>هفت‌تیر</td>
                                <td>247</td>
                                <td>IR870150000000247800867574</td>
                                <td>247800867574</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="collapse-item">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/saman-bank.svg" />
                    <h5>بانک سامان</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                            <th>نوع حساب</th>
                            <th>شعبه</th>
                            <th>کد شعبه</th>
                            <th>شماره شبا</th>
                            <th>شماره حساب</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>جاری</td>
                                <td>سی‌تیر</td>
                                <td>849</td>
                                <td>IR680560084904000700200001</td>
                                <td>849-40-700200-1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="collapse-item">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/eghtesad-novin-bank.svg" />
                    <h5>بانک اقتصاد نوین</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                            <th>نوع حساب</th>
                            <th>شعبه</th>
                            <th>کد شعبه</th>
                            <th>شماره شبا</th>
                            <th>شماره حساب</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>جاری</td>
                                <td>حافظ</td>
                                <td>0106</td>
                                <td>IR130550010600200069216001</td>
                                <td>106-2-69216-1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="collapse-item">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/parsian-bank.svg" />
                    <h5>بانک پارسیان</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                            <th>نوع حساب</th>
                            <th>شعبه</th>
                            <th>کد شعبه</th>
                            <th>شماره شبا</th>
                            <th>شماره حساب</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>جاری</td>
                                <td>کریم‌خان</td>
                                <td>4-1007</td>
                                <td>IR40054010070211002609102</td>
                                <td>010002609102</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="collapse-item">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/pasargad-bank.svg" />
                    <h5>بانک پاسارگاد</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                            <th>نوع حساب</th>
                            <th>شعبه</th>
                            <th>کد شعبه</th>
                            <th>شماره شبا</th>
                            <th>شماره حساب</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>جاری</td>
                                <td>هفت‌تیر</td>
                                <td>207</td>
                                <td>IR950570020701100240721001</td>
                                <td>207-11-240721-1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <h2 class="t-20 mb-5 mt-7">شماره حساب صندوق سرمایه‌گذاری پیشتاز</h2>
            <div class="collapse-item">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/mellat-bank.svg" />
                    <h5>بانک ملت</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                                <th>شماره حساب</th>
                                <th>شماره شبا</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>5802399850</td>
                                <td>IR030120020000005802399850</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="collapse-item">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/pasargad-bank.svg" />
                    <h5>بانک پاسارگاد</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                                <th>شماره حساب</th>
                                <th>شماره شبا</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>IR47057002708101511111101</td>
                                <td>270-810015111111-1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <h2 class="t-20 mb-5 mt-7">شماره حساب صندوق سرمایه‌گذاری مشترک ممتاز</h2>
            <div class="collapse-item">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/mellat-bank.svg" />
                    <h5>بانک ملت</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                                <th>شماره حساب</th>
                                <th>شماره شبا</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>5801973401</td>
                                <td>IR030120020000005801973401</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="collapse-item">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/pasargad-bank.svg" />
                    <h5>بانک پاسارگاد</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                                <th>شماره حساب</th>
                                <th>شماره شبا</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>IR35057002078101522222201</td>
                                <td>270-810015222222-1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <h2 class="t-20 mb-5 mt-7">شماره حساب صندوق سرمایه‌گذاری مشترک پیشرو</h2>
            <div class="collapse-item">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/mellat-bank.svg" />
                    <h5>بانک ملت</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                                <th>شماره حساب</th>
                                <th>شماره شبا</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>5802352684</td>
                                <td>IR690120020000005802352684</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="collapse-item">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/pasargad-bank.svg" />
                    <h5>بانک پاسارگاد</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                                <th>شماره حساب</th>
                                <th>شماره شبا</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>IR84057002078101566666601</td>
                                <td>270-8100-15666666-1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <h2 class="t-20 mb-5 mt-7">شماره حساب صندوق سرمایه‌گذاری مشترک امید توسعه</h2>
            <div class="collapse-item">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/mellat-bank.svg" />
                    <h5>بانک ملت</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                                <th>شماره حساب</th>
                                <th>شماره شبا</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>4491619461</td>
                                <td>IR940120020000004491619461</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="collapse-item">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/pasargad-bank.svg" />
                    <h5>بانک پاسارگاد</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                                <th>شماره حساب</th>
                                <th>شماره شبا</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>IR60057002078101588888801</td>
                                <td>207-8100-15888888-1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <h2 class="t-20 mb-5 mt-7">شماره حساب صندوق سرمایه‌گذاری ثابت نامی مفید</h2>
            <div class="collapse-item">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/mellat-bank.svg" />
                    <h5>بانک ملت</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                                <th>شماره حساب</th>
                                <th>شماره شبا</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>8298064948</td>
                                <td>IR560120020000008298064948</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="collapse-item">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/pasargad-bank.svg" />
                    <h5>بانک پاسارگاد</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                                <th>شماره حساب</th>
                                <th>شماره شبا</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>IR2305700207810153333331</td>
                                <td>237-8100-15333333-1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>