<section class="bankaccounts__accounts py-7 mb-5">
    <div class="container-md">
        <div class="wrapper flex-column">
            <h2 class="t-20 mb-5">شماره حساب‌های شرکت کارگزاری مفید</h2>
            <div class="alert alert-danger">
                <div class="title">مشتری گرامی، لطفا از واگذاری چک به حساب کارگزاری مفید اکیدا خودداری کنید.</div>
                <hr>
                <p>
                    به هیچ وجه امکان شارژ حساب کاربری از این طریق وجود ندارد و مطابق با ضوابط، وجه حاصل از وصول چک به حساب صادرکننده آن برگشت داده می‌شود. کلیه عواقب ناشی از عدم توجه به این موضوع برعهده مشتری خواهد بود.
                </p>
            </div>
            <div class="collapse-item">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/mellat-bank.svg" />
                    <h5>بانک ملت</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                            <th>نوع حساب</th>
                            <th>شعبه</th>
                            <th>کد شعبه</th>
                            <th>شماره شبا</th>
                            <th>شماره حساب</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="نوع حساب">جام</td>
                                <td data-label="شعبه">هفت تیر</td>
                                <td data-label="کد شعبه">63594</td>
                                <td data-label="شماره شبا">
                                    IR140120000000000250545315
                                    <a clipboard-data="140120000000000250545315" class="Button clipbord-btn">کپی</a>
                                </td>
                                <td data-label="شماره حساب">
                                    250545315
                                    <a clipboard-data="250545315" class="Button clipbord-btn">کپی</a>
                                </td>
                            </tr>
                            <tr>
                                <td data-label="نوع حساب">جام</td>
                                <td data-label="شعبه">بورس‌</td>
                                <td data-label="کد شعبه">62059</td>
                                <td data-label="شماره شبا">
                                    IR120120000000000016710943
                                    <a clipboard-data="120120000000000016710943" class="Button clipbord-btn">کپی</a>
                                </td>
                                <td data-label="شماره حساب">
                                    16710943
                                    <a clipboard-data="16710943" class="Button clipbord-btn">کپی</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="collapse-item">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/tejarat-bank.svg" />
                    <h5>بانک تجارت</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                            <th>نوع حساب</th>
                            <th>شعبه</th>
                            <th>کد شعبه</th>
                            <th>شماره شبا</th>
                            <th>شماره حساب</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="نوع حساب">جاری</td>
                                <td data-label="شعبه">کار</td>
                                <td data-label="کد شعبه">110</td>
                                <td data-label="شماره شبا">
                                    IR870180000000000156350400
                                    <a clipboard-data="870180000000000156350400" class="Button clipbord-btn">کپی</a>
                                </td>
                                <td data-label="شماره حساب">
                                    156350400
                                    <a clipboard-data="156350400" class="Button clipbord-btn">کپی</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="collapse-item">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/saderat-bank.svg" />
                    <h5>بانک صادرات</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                            <th>نوع حساب</th>
                            <th>شعبه</th>
                            <th>کد شعبه</th>
                            <th>شماره شبا</th>
                            <th>شماره حساب</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="نوع حساب">سپهر</td>
                                <td data-label="شعبه">حافظ</td>
                                <td data-label="کد شعبه">1986</td>
                                <td data-label="شماره شبا">
                                    IR730190000000100840609000
                                    <a clipboard-data="730190000000100840609000" class="Button clipbord-btn">کپی</a>
                                </td>
                                <td data-label="شماره حساب">
                                    0100840609000
                                    <a clipboard-data="0100840609000" class="Button clipbord-btn">کپی</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="collapse-item">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/sepah-bank.svg" />
                    <h5>بانک سپه</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                            <th>نوع حساب</th>
                            <th>شعبه</th>
                            <th>کد شعبه</th>
                            <th>شماره شبا</th>
                            <th>شماره حساب</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="نوع حساب">جاری</td>
                                <td data-label="شعبه">هفت‌تیر</td>
                                <td data-label="کد شعبه">247</td>
                                <td data-label="شماره شبا">
                                    IR870150000000247800867574
                                    <a clipboard-data="870150000000247800867574" class="Button clipbord-btn">کپی</a>
                                </td>
                                <td data-label="شماره حساب">
                                    247800867574
                                    <a clipboard-data="247800867574" class="Button clipbord-btn">کپی</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="collapse-item">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/saman-bank.svg" />
                    <h5>بانک سامان</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                            <th>نوع حساب</th>
                            <th>شعبه</th>
                            <th>کد شعبه</th>
                            <th>شماره شبا</th>
                            <th>شماره حساب</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="نوع حساب">جاری</td>
                                <td data-label="شعبه">سی‌تیر</td>
                                <td data-label="کد شعبه">849</td>
                                <td data-label="شماره شبا">
                                    IR680560084904000700200001
                                    <a clipboard-data="680560084904000700200001" class="Button clipbord-btn">کپی</a>
                                </td>
                                <td data-label="شماره حساب">
                                    849-40-700200-1
                                    <a clipboard-data="849407002001" class="Button clipbord-btn">کپی</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="collapse-item">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/eghtesad-novin-bank.svg" />
                    <h5>بانک اقتصاد نوین</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                            <th>نوع حساب</th>
                            <th>شعبه</th>
                            <th>کد شعبه</th>
                            <th>شماره شبا</th>
                            <th>شماره حساب</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="نوع حساب">جاری</td>
                                <td data-label="شعبه">حافظ</td>
                                <td data-label="کد شعبه">0106</td>
                                <td data-label="شماره شبا">
                                    IR130550010600200069216001
                                    <a clipboard-data="130550010600200069216001" class="Button clipbord-btn">کپی</a>
                                </td>
                                <td data-label="شماره حساب">
                                    106-2-69216-1
                                    <a clipboard-data="1062692161" class="Button clipbord-btn">کپی</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="collapse-item">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/parsian-bank.svg" />
                    <h5>بانک پارسیان</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                            <th>نوع حساب</th>
                            <th>شعبه</th>
                            <th>کد شعبه</th>
                            <th>شماره شبا</th>
                            <th>شماره حساب</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="نوع حساب">جاری</td>
                                <td data-label="شعبه">کریم‌خان</td>
                                <td data-label="کد شعبه">4-1007</td>
                                <td data-label="شماره شبا">
                                    IR40054010070211002609102
                                    <a clipboard-data="40054010070211002609102" class="Button clipbord-btn">کپی</a>
                                </td>
                                <td data-label="شماره حساب">
                                    010002609102
                                    <a clipboard-data="010002609102" class="Button clipbord-btn">کپی</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="collapse-item">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/pasargad-bank.svg" />
                    <h5>بانک پاسارگاد</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                            <th>نوع حساب</th>
                            <th>شعبه</th>
                            <th>کد شعبه</th>
                            <th>شماره شبا</th>
                            <th>شماره حساب</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="نوع حساب">جاری</td>
                                <td data-label="شعبه">هفت‌تیر</td>
                                <td data-label="کد شعبه">207</td>
                                <td data-label="شماره شبا">
                                    IR950570020701100240721001
                                    <a clipboard-data="950570020701100240721001" class="Button clipbord-btn">کپی</a>
                                </td>
                                <td data-label="شماره حساب">
                                    207-11-240721-1
                                    <a clipboard-data="207112407211" class="Button clipbord-btn">کپی</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <h2 class="t-20 mb-5 mt-7">شماره حساب صندوق سرمایه‌گذاری پیشتاز</h2>
            <div class="collapse-item iban-acc">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/mellat-bank.svg" />
                    <h5>بانک ملت</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                                <th>شماره حساب</th>
                                <th>شماره شبا</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="شماره حساب">
                                    5802399850
                                    <a clipboard-data="5802399850" class="Button clipbord-btn">کپی</a>
                                </td>
                                <td data-label="شماره شبا">
                                    IR030120020000005802399850
                                    <a clipboard-data="030120020000005802399850" class="Button clipbord-btn">کپی</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="collapse-item iban-acc">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/pasargad-bank.svg" />
                    <h5>بانک پاسارگاد</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                                <th>شماره حساب</th>
                                <th>شماره شبا</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="شماره حساب">
                                    270-810015111111-1
                                    <a clipboard-data="2708100151111111" class="Button clipbord-btn">کپی</a>
                                </td>
                                <td data-label="شماره شبا">
                                    IR47057002708101511111101
                                    <a clipboard-data="47057002708101511111101" class="Button clipbord-btn">کپی</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <h2 class="t-20 mb-5 mt-7">شماره حساب صندوق سرمایه‌گذاری مشترک ممتاز</h2>
            <div class="collapse-item iban-acc">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/mellat-bank.svg" />
                    <h5>بانک ملت</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                                <th>شماره حساب</th>
                                <th>شماره شبا</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="شماره حساب">
                                    5801973401
                                    <a clipboard-data="5801973401" class="Button clipbord-btn">کپی</a>
                                </td>
                                <td data-label="شماره شبا">
                                    IR030120020000005801973401
                                    <a clipboard-data="030120020000005801973401" class="Button clipbord-btn">کپی</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="collapse-item iban-acc">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/pasargad-bank.svg" />
                    <h5>بانک پاسارگاد</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                                <th>شماره حساب</th>
                                <th>شماره شبا</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="شماره حساب">
                                    270-810015222222-1
                                    <a clipboard-data="2708100152222221" class="Button clipbord-btn">کپی</a>
                                </td>
                                <td data-label="شماره شبا">
                                    IR35057002078101522222201
                                    <a clipboard-data="35057002078101522222201" class="Button clipbord-btn">کپی</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <h2 class="t-20 mb-5 mt-7">شماره حساب صندوق سرمایه‌گذاری مشترک پیشرو</h2>
            <div class="collapse-item iban-acc">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/mellat-bank.svg" />
                    <h5>بانک ملت</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                                <th>شماره حساب</th>
                                <th>شماره شبا</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="شماره حساب">
                                    5802352684
                                    <a clipboard-data="5802352684" class="Button clipbord-btn">کپی</a>
                                </td>
                                <td data-label="شماره شبا">
                                    IR690120020000005802352684
                                    <a clipboard-data="690120020000005802352684" class="Button clipbord-btn">کپی</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="collapse-item iban-acc">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/pasargad-bank.svg" />
                    <h5>بانک پاسارگاد</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                                <th>شماره حساب</th>
                                <th>شماره شبا</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="شماره حساب">
                                    270-8100-15666666-1
                                    <a clipboard-data="2708100156666661" class="Button clipbord-btn">کپی</a>
                                </td>
                                <td data-label="شماره شبا">
                                    IR84057002078101566666601
                                    <a clipboard-data="84057002078101566666601" class="Button clipbord-btn">کپی</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <h2 class="t-20 mb-5 mt-7">شماره حساب صندوق سرمایه‌گذاری مشترک امید توسعه</h2>
            <div class="collapse-item iban-acc">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/mellat-bank.svg" />
                    <h5>بانک ملت</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                                <th>شماره حساب</th>
                                <th>شماره شبا</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="شماره حساب">
                                    4491619461
                                    <a clipboard-data="4491619461" class="Button clipbord-btn">کپی</a>
                                </td>
                                <td data-label="شماره شبا">
                                    IR940120020000004491619461
                                    <a clipboard-data="940120020000004491619461" class="Button clipbord-btn">کپی</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="collapse-item iban-acc">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/pasargad-bank.svg" />
                    <h5>بانک پاسارگاد</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                                <th>شماره حساب</th>
                                <th>شماره شبا</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="شماره حساب">
                                    207-8100-15888888-1
                                    <a clipboard-data="2078100158888881" class="Button clipbord-btn">کپی</a>
                                </td>
                                <td data-label="شماره شبا">
                                    IR60057002078101588888801
                                    <a clipboard-data="60057002078101588888801" class="Button clipbord-btn">کپی</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <h2 class="t-20 mb-5 mt-7">شماره حساب صندوق سرمایه‌گذاری ثابت نامی مفید</h2>
            <div class="collapse-item iban-acc">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/mellat-bank.svg" />
                    <h5>بانک ملت</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                                <th>شماره حساب</th>
                                <th>شماره شبا</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="شماره حساب">
                                    8298064948
                                    <a clipboard-data="8298064948" class="Button clipbord-btn">کپی</a>
                                </td>
                                <td data-label="شماره شبا">
                                    IR560120020000008298064948
                                    <a clipboard-data="560120020000008298064948" class="Button clipbord-btn">کپی</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="collapse-item iban-acc">
                <div class="collapse-head">
                    <img src="{{ theme.link }}/assets/images/pages/bankaccounts/pasargad-bank.svg" />
                    <h5>بانک پاسارگاد</h5>
                </div>
                <div class="collapse-content">
                    <table>
                        <thead>
                            <tr>
                                <th>شماره حساب</th>
                                <th>شماره شبا</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="شماره حساب">
                                    237-8100-15333333-1
                                    <a clipboard-data="2378100153333331" class="Button clipbord-btn">کپی</a>
                                </td>
                                <td data-label="شماره شبا">
                                    IR2305700207810153333331
                                    <a clipboard-data="2305700207810153333331" class="Button clipbord-btn">کپی</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>