<section class="AboutOverTime mb-8">
    <div class="container-sm">
        <div class="flex-column">
            <h2 class="t-24 text-darker text-center mb-3">کارگزاری مفید در گذر زمان</h2>
        </div>
    </div>
    <div class="container-lg">
        <div class="tabs flex-column">
            <div class="head flex justify-center hide-scrollbar">
                <div class="inner flex cursor-pointer mb-5">
                    <div class="tab flex-1 text-center" data-tab-type="1" data-tab-id="1">1373</div>
                    <div class="tab flex-1 text-center" data-tab-type="1" data-tab-id="2">1381</div>
                    <div class="tab flex-1 text-center" data-tab-type="1" data-tab-id="3">1384</div>
                    <div class="tab flex-1 text-center" data-tab-type="1" data-tab-id="4">1387</div>
                    <div class="tab flex-1 text-center" data-tab-type="1" data-tab-id="5">1388</div>
                    <div class="tab flex-1 text-center" data-tab-type="1" data-tab-id="6">1389</div>
                    <div class="tab flex-1 text-center" data-tab-type="1" data-tab-id="7">1390</div>
                    <div class="tab flex-1 text-center" data-tab-type="1" data-tab-id="8">1391</div>
                    <div class="tab flex-1 text-center" data-tab-type="1" data-tab-id="9">1392</div>
                    <div class="tab flex-1 text-center" data-tab-type="1" data-tab-id="10">1393</div>
                    <div class="tab flex-1 text-center" data-tab-type="1" data-tab-id="11">1394</div>
                    <div class="tab flex-1 text-center" data-tab-type="1" data-tab-id="12">1395</div>
                    <div class="tab flex-1 text-center" data-tab-type="1" data-tab-id="13">1396</div>
                    <div class="tab flex-1 text-center" data-tab-type="1" data-tab-id="14">1397</div>
                    <div class="tab flex-1 text-center" data-tab-type="1" data-tab-id="15">1398</div>
                </div>
            </div>
            <div class="contents">
                <div class="content py-4" data-content-type="1" data-content-id="1">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <h3 class="t-20 text-darker mb-1">تاسیس مفید</h3>
                                        <p class="t-14 text-dark mb-5">
                                            در سال 1373 کار خود را با دو نفر و با یک خط تلفن در یک دفتر چهار متری در تهران آغاز کردیم.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="2">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <h3 class="t-20 text-darker mb-1">تاسیس مفید</h3>
                                        <p class="t-14 text-dark mb-5">
                                            در سال 1373 کار خود را با دو نفر و با یک خط تلفن در یک دفتر چهار متری در تهران آغاز کردیم.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="3">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <h3 class="t-20 text-darker mb-1">تاسیس مفید</h3>
                                        <p class="t-14 text-dark mb-5">
                                            در سال 1373 کار خود را با دو نفر و با یک خط تلفن در یک دفتر چهار متری در تهران آغاز کردیم.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="4">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <h3 class="t-20 text-darker mb-1">تاسیس مفید</h3>
                                        <p class="t-14 text-dark mb-5">
                                            در سال 1373 کار خود را با دو نفر و با یک خط تلفن در یک دفتر چهار متری در تهران آغاز کردیم.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="5">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <h3 class="t-20 text-darker mb-1">تاسیس مفید</h3>
                                        <p class="t-14 text-dark mb-5">
                                            در سال 1373 کار خود را با دو نفر و با یک خط تلفن در یک دفتر چهار متری در تهران آغاز کردیم.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="6">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <h3 class="t-20 text-darker mb-1">تاسیس مفید</h3>
                                        <p class="t-14 text-dark mb-5">
                                            در سال 1373 کار خود را با دو نفر و با یک خط تلفن در یک دفتر چهار متری در تهران آغاز کردیم.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="7">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <h3 class="t-20 text-darker mb-1">تاسیس مفید</h3>
                                        <p class="t-14 text-dark mb-5">
                                            در سال 1373 کار خود را با دو نفر و با یک خط تلفن در یک دفتر چهار متری در تهران آغاز کردیم.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="8">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <h3 class="t-20 text-darker mb-1">تاسیس مفید</h3>
                                        <p class="t-14 text-dark mb-5">
                                            در سال 1373 کار خود را با دو نفر و با یک خط تلفن در یک دفتر چهار متری در تهران آغاز کردیم.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="9">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <h3 class="t-20 text-darker mb-1">تاسیس مفید</h3>
                                        <p class="t-14 text-dark mb-5">
                                            در سال 1373 کار خود را با دو نفر و با یک خط تلفن در یک دفتر چهار متری در تهران آغاز کردیم.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="10">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <h3 class="t-20 text-darker mb-1">تاسیس مفید</h3>
                                        <p class="t-14 text-dark mb-5">
                                            در سال 1373 کار خود را با دو نفر و با یک خط تلفن در یک دفتر چهار متری در تهران آغاز کردیم.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="11">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <h3 class="t-20 text-darker mb-1">تاسیس مفید</h3>
                                        <p class="t-14 text-dark mb-5">
                                            در سال 1373 کار خود را با دو نفر و با یک خط تلفن در یک دفتر چهار متری در تهران آغاز کردیم.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="12">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <h3 class="t-20 text-darker mb-1">تاسیس مفید</h3>
                                        <p class="t-14 text-dark mb-5">
                                            در سال 1373 کار خود را با دو نفر و با یک خط تلفن در یک دفتر چهار متری در تهران آغاز کردیم.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="13">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <h3 class="t-20 text-darker mb-1">تاسیس مفید</h3>
                                        <p class="t-14 text-dark mb-5">
                                            در سال 1373 کار خود را با دو نفر و با یک خط تلفن در یک دفتر چهار متری در تهران آغاز کردیم.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="14">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <h3 class="t-20 text-darker mb-1">تاسیس مفید</h3>
                                        <p class="t-14 text-dark mb-5">
                                            در سال 1373 کار خود را با دو نفر و با یک خط تلفن در یک دفتر چهار متری در تهران آغاز کردیم.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="15">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <h3 class="t-20 text-darker mb-1">تاسیس مفید</h3>
                                        <p class="t-14 text-dark mb-5">
                                            در سال 1373 کار خود را با دو نفر و با یک خط تلفن در یک دفتر چهار متری در تهران آغاز کردیم.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>