<section class="AboutOverTime mb-8">
    <div class="container-sm">
        <div class="flex-column">
            <h2 class="t-20 text-darker text-center mb-5">کارگزاری مفید در گذر زمان</h2>
        </div>
    </div>
    <div class="container-md">
        <div class="tabs flex-column">
            <div class="head flex justify-center hide-scrollbar">
                <div class="inner flex cursor-pointer mb-6 pl-5 pr-5">
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="1"><span>1373</span></div>
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="2"><span>1381</span></div>
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="3"><span>1384</span></div>
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="4"><span>1387</span></div>
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="5"><span>1388</span></div>
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="6"><span>1389</span></div>
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="7"><span>1390</span></div>
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="8"><span>1391</span></div>
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="9"><span>1392</span></div>
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="10"><span>1393</span></div>
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="11"><span>1394</span></div>
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="12"><span>1395</span></div>
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="13"><span>1396</span></div>
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="14"><span>1397</span></div>
                    <div class="tab flex-1" data-tab-type="1" data-tab-id="15"><span>1398</span></div>
                </div>
            </div>
            <div class="contents">
                <div class="content py-4" data-content-type="1" data-content-id="1">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-5 col-xs-12">
                                    <div class="inner flex-column">
                                        <h3 class="t-18 text-darker mb-1">تاسیس مفید</h3>
                                        <p class="t-16 text-medium mb-5">
                                            در سال 1373 کار خود را با دو نفر و با یک خط تلفن در یک دفتر چهار متری در تهران آغاز کردیم.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="2">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <h3 class="t-20 text-darker mb-1">تاسیس مفید</h3>
                                        <p class="t-14 text-dark mb-5">
                                            در سال 1373 کار خود را با دو نفر و با یک خط تلفن در یک دفتر چهار متری در تهران آغاز کردیم.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="3">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <h3 class="t-20 text-darker mb-1">تاسیس مفید</h3>
                                        <p class="t-14 text-dark mb-5">
                                            در سال 1373 کار خود را با دو نفر و با یک خط تلفن در یک دفتر چهار متری در تهران آغاز کردیم.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="4">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <h3 class="t-20 text-darker mb-1">تاسیس مفید</h3>
                                        <p class="t-14 text-dark mb-5">
                                            در سال 1373 کار خود را با دو نفر و با یک خط تلفن در یک دفتر چهار متری در تهران آغاز کردیم.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="5">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <h3 class="t-20 text-darker mb-1">تاسیس مفید</h3>
                                        <p class="t-14 text-dark mb-5">
                                            در سال 1373 کار خود را با دو نفر و با یک خط تلفن در یک دفتر چهار متری در تهران آغاز کردیم.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="6">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <h3 class="t-20 text-darker mb-1">تاسیس مفید</h3>
                                        <p class="t-14 text-dark mb-5">
                                            در سال 1373 کار خود را با دو نفر و با یک خط تلفن در یک دفتر چهار متری در تهران آغاز کردیم.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="7">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <h3 class="t-20 text-darker mb-1">تاسیس مفید</h3>
                                        <p class="t-14 text-dark mb-5">
                                            در سال 1373 کار خود را با دو نفر و با یک خط تلفن در یک دفتر چهار متری در تهران آغاز کردیم.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="8">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <h3 class="t-20 text-darker mb-1">تاسیس مفید</h3>
                                        <p class="t-14 text-dark mb-5">
                                            در سال 1373 کار خود را با دو نفر و با یک خط تلفن در یک دفتر چهار متری در تهران آغاز کردیم.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="9">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <h3 class="t-20 text-darker mb-1">تاسیس مفید</h3>
                                        <p class="t-14 text-dark mb-5">
                                            در سال 1373 کار خود را با دو نفر و با یک خط تلفن در یک دفتر چهار متری در تهران آغاز کردیم.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="10">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <h3 class="t-20 text-darker mb-1">تاسیس مفید</h3>
                                        <p class="t-14 text-dark mb-5">
                                            در سال 1373 کار خود را با دو نفر و با یک خط تلفن در یک دفتر چهار متری در تهران آغاز کردیم.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="11">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <h3 class="t-20 text-darker mb-1">تاسیس مفید</h3>
                                        <p class="t-14 text-dark mb-5">
                                            در سال 1373 کار خود را با دو نفر و با یک خط تلفن در یک دفتر چهار متری در تهران آغاز کردیم.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="12">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <h3 class="t-20 text-darker mb-1">تاسیس مفید</h3>
                                        <p class="t-14 text-dark mb-5">
                                            در سال 1373 کار خود را با دو نفر و با یک خط تلفن در یک دفتر چهار متری در تهران آغاز کردیم.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="13">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <h3 class="t-20 text-darker mb-1">تاسیس مفید</h3>
                                        <p class="t-14 text-dark mb-5">
                                            در سال 1373 کار خود را با دو نفر و با یک خط تلفن در یک دفتر چهار متری در تهران آغاز کردیم.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="14">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <h3 class="t-20 text-darker mb-1">تاسیس مفید</h3>
                                        <p class="t-14 text-dark mb-5">
                                            در سال 1373 کار خود را با دو نفر و با یک خط تلفن در یک دفتر چهار متری در تهران آغاز کردیم.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content py-4" data-content-type="1" data-content-id="15">
                    <div class="container-md">
                        <div class="wrapper">
                            <div class="row">
                                <div class="right col-lg-6 col-xs-12">
                                    <div class="inner flex-column">
                                        <h3 class="t-20 text-darker mb-1">تاسیس مفید</h3>
                                        <p class="t-14 text-dark mb-5">
                                            در سال 1373 کار خود را با دو نفر و با یک خط تلفن در یک دفتر چهار متری در تهران آغاز کردیم.
                                        </p>
                                    </div>
                                </div>
                                <div class="left col-lg-6 col-xs-12 flex justify-end">
                                    <img class="cover-image" src="{{theme.link}}/src/images/about-establishment.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>