<section class="Jobs__pros mb-8">
    <div class="container-md mobile-no-padding">
        <div class="outer-flex-column">
            <h2 class="t-24 text-darker text-center mb-6">مزیت‌های شغلی<h2>
            <div class="gallery-outer hide-scrollbar">
                <div class="gallery flex align-center mb-7">
                    {% for department in departments %}
                        <div class="item flex-column px-3">
                            <img
                                class="radius-small mb-3"
                                src="{{ department.image }}"
                                alt="{{ department.title }}"
                                width="720"
                                height="406"
                            />
                            <div class="title">
                                <div class="title flex justify-center align-center mb-2">
                                    <h3 class="t-16 text-medium">{{ department.title }}</h3>
                                    <div class="tooltip-wrapper flex relative">
                                        <span class="info-icon"></span>
                                        <div class="tooltip absolute bg-white radius-small shadow-small-center flex-column p-3">
                                            <div class="address flex align-center t-12 text-medium pb-3">
                                                {{ department.address }}
                                            </div>
                                            <div class="options t-12 mt-3 text-medium lh-26">
                                                <span>امکانات ساختمان:</span>
                                                <ul>
                                                    {% for option in department.options %}
                                                        <li>{{ option }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="subtitle t-14 text-light text-center">{{ department.subtitle }}</h4>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="possibilities flex justify-space-between align-center px-3">
                <div class="pos-item flex align-center">
                    <span class="icon ml-2"></span>
                    <span class="title t-14 text-dark">محیط کاری مدرن و زیبا</span>
                </div>
                <div class="pos-item flex align-center">
                    <span class="icon ml-2"></span>
                    <span class="title t-14 text-dark">بیمه تکمیلی</span>
                </div>
                <div class="pos-item flex align-center">
                    <span class="icon ml-2"></span>
                    <span class="title t-14 text-dark">دسترسی مناسب داخل شهر تهران</span>
                </div>
                <div class="pos-item flex align-center">
                    <span class="icon ml-2"></span>
                    <span class="title t-14 text-dark">طرح سرمایه گذاری آتیه کارکنان</span>
                </div>
            </div>
        </div>
    </div>
</section>
