<section class="HomeNews py-7">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-xs-12 right flex justify-center align-center">
                <div class="texts">
                    <p class="mb-6">
                        مفید بزرگترین کارگزاری کشور
                    </p>
                    <div class="boxes flex justify-center">
                        <div class="item flex-column align-center ml-6">
                            <span class="circle user radius-full mb-3">
                                <i class="i-user flex-column justify-center align-center h-100"></i>
                            </span>
                            <span class="text-center">بیش از ۱۰ میلیون کاربر</span>
                        </div>
                        <div class="item flex-column align-center">
                            <span class="circle radius-full mb-3">۲۷</span>
                            <span class="text-center">بیش از ۲۷ سال تجربه</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xs-12 left flex justify-center">
                <div class="news-column">
                    <h3 class="mb-5">آخرین اخبار</h3>
                    <div class="flex-column">
                        {% for post in posts %}
                            <a class="item row mb-3" href="{{post.link}}">
                                <div class="col-lg-4 col-xs-4 image">
                                    <img alt="{{post.title}}" src="{{post.thumbnail.src}}" />
                                </div>
                                <div class="col-lg-8 col-xs-8 flex-column content">
                                    <span class="title mb-2">{{post.title}}</span>
                                    <span class="date">{{post.date}}</span>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="footer flex">
                        <a class="more flex align-center strong" href="{{ site.link }}/news/">مشاهده اخبار</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
