<section class="Contact__images py-6 mb-7">
    <div class="container-sm flex-column align-center">
        <div class="wrapper relative flex align-end mb-6">
            <div class="column-1 flex-column">
                <img class="circle absolute" src="{{ theme.link }}/assets/images/circle-green.svg" />
                <img class="cover mb-3" src="{{ theme.link }}/assets/images/contact-image-1.png" />
                <div class="flex justify-center align-center data">
                    <img class="dots ml-6" src="{{ theme.link }}/assets/images/dots-2.svg" />
                    <span class="label t-16 lh-26 text-darker">بیش از ۶۰۰ نیروی متخصص پشتیبان</span>
                </div>
            </div>
            <div class="column-2 flex-column">
                <h2 class="title t-18 lh-30 text-darker mb-4">بزرگترین مرکز خدمات بازار سرمایه ایران</h2>
                <img class="dots mb-4" src="{{ theme.link }}/assets/images/dots-1.svg" />
                <img class="image" src="{{ theme.link }}/assets/images/contact-image-2.png" />
            </div>
        </div>
        <p class="caption t-16 lh-26 text-medium text-center">
            مرکز خدمات مشتریان کارگزاری مفید با بیش از 600 نیروی متخصص یکی از برترین مراکز پشتیبانی در سطح کشور است. این مرکز به صورت ۲۴ ساعته و در ۷ روز هفته (حتی روزهای تعطیل) آماده پاسخگویی به مشتریان کارگزاری مفید است.
        </p>
    </div>
</section>
