<header id="header" class="Header">
	<div class="container">
		<div class="flex align-center">
			<a class="logo" href="{{site.link}}" title="{{site.title}}" title="{{site.title}}">
				<img src="{{theme.link}}/assets/images/logo.svg" class="ml-5" width="177" height="27" alt="{{site.title}}">
			</a>
			<div class="nav-wrapper flex align-center">
				<button class="mobile-nav-btn">
					<span></span>
				</button>
				{{ include('components/navigation.twig') }}
			</div>
			<a class="phone mr-4 flex align-center" href="tel:02191008700" title="تماس با کارگزاری مفید">021-8700</a>
			{{ include('components/header-auth.twig') }}
		</div>
	</div>
</header>
