<section class="LearningGrids pt-7 {% if (styles.paddingBottom != true) %}pb-8{% endif %}">
    
    <div class="container-sm">
        <div class="flex-column align-center">
            <h2 class="mb-4">آموزش مفید</h2>
            <p class="mb-7">
                ‌سامانه آموزش کارگزاری مفید برای ارائه آموزش کاربردی و ساده به تمام سرمایه‌گذاران ایران به صورت کاملا رایگان و فراگیر راه‌اندازی
                شده است. در این سامانه کلاس‌های آنلاین روزانه، دوره‌های ویدیویی آموزشی و صدها مقاله
                در حوزه‌های مختلف بازار سرمایه تهیه و منتشر شده است.
            </p>
        </div>
    </div>

    <div class="container">
        {% if learning_current_week_events %}
        <div class="tab-view mx-auto mb-7">
            <h3 class="mb-6 text-center">کلاس های آموزشی روزانه رایگان</h3>
            <div class="row">
                <div class="col-lg-3 col-xs-12 flex-column tabs">

                    {% for day in learning_current_week_events %}
                    <button class="flex-column align-start mb-5" data-tab-type="learning" data-tab-id="{{loop.index}}">
                        <span class="day mb-1">{{ day.day }}</span>
                        <span class="date">{{ day.date }}</span>
                    </button>
                    {% endfor %}

                </div>
                <div class="col-lg-9 col-xs-12 flex-column">

                    {% for day in learning_current_week_events %}
                    <div data-content-type="learning" data-content-id="{{loop.index}}">
                        <div class="flex-column">
                            {% for event in day.events %}
                            <a class="class-item flex py-3" href="{{ event.permalink }}">
                                <div class="image flex align-center">
                                    <img class="radius-small" src="{{ event.thumbnail.url }}" />
                                </div>
                                <div class="content flex-column justify-center pr-3 flex-1 relative">
                                    <span class="time flex align-center mb-2">{{ event.time }}</span>
                                    <span class="title mb-2">{{ event.title }}</span>
                                    <span class="level">{{ event.level }}</span>
                                    <span class="Button outline small absolute view flex align-center">مشاهده</span>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
        {% endif %}

        <div class="data-boxes row">
            <div class="col-lg-4 col-xs-12 px-4">
                <div class="box radius-small p-5">
                    <div class="top flex align-center mb-5">
                        <span class="icon icon-articles radius-full ml-3"></span>
                        <h3>مقالات</h3>
                    </div>
                    <p class="mb-5">
                        بیش از 1000 مطلب آموزشی در سه سطح مبتدی، نیمه‌حرفه‌ای و حرفه‌ای در رابطه با موضوعات مختلف بازار سرمایه در سامانه آموزش مفید در دسترس است.
                    </p>
                    <a class="more flex align-center" href="https://learning.emofid.com/articles/">آرشیو مطالب آموزشی</a>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 px-4">
                <div class="box radius-small p-5">
                    <div class="top flex align-center mb-5">
                        <span class="icon icon-courses radius-full ml-3"></span>
                        <h3>دوره‌های ویدیویی</h3>
                    </div>
                    <p class="mb-5">
                        با مراجعه به سامانه آموزش کارگزاری مفید می‌توانید دوره‌های ویدیویی آموزشی با موضوعات تخصصی بازار سرمایه را به صورت ساده و رایگان مشاهده کنید.
                    </p>
                    <a class="more flex align-center" href="https://learning.emofid.com/course/">لیست کامل دوره‌ها</a>
                </div>
            </div>   
            <div class="col-lg-4 col-xs-12 px-4">
                <div class="box radius-small p-5">
                    <div class="top flex align-center mb-5">
                        <span class="icon icon-courses radius-full ml-3"></span>
                        <h3>کلاس‌های آنلاین روزانه</h3>
                    </div>
                    <p class="mb-5">
                        کارگزاری مفید روزانه با برگزاری ۳ کلاس مرتبط با موضوعات تخصصی بازار سرمایه به صورت آنلاین و رایگان، در تلاش است تا سرمایه‌گذاران را در راستای تحقق اهداف مالی خود یاری کند.
                    </p>
                    <a class="more flex align-center" href="">آرشیو رویدادهای آموزشی</a>
                </div>
            </div>   
        </div>
    </div>
</section>
