<nav role="navigation" class="Navigation hide-scrollbar flex">
    <ul class="flex nav-mobile-scroller align-center">
        <a class="mx-auto easytrader-mobile-link display-none" title="ورود به ایزی تریدر" href="https://d.easytrader.emofid.com/">
            <img src="{{ theme.link }}/assets/images/easytrader-menu-mobile.svg" alt="ایزی تریدر" width="194" height="68" />
            <span>ورود به ایزی تریدر</span>
        </a>
        {% for item in header_menu.items %}
            <li class="ml-4 {{ item.classes|join(' ') }}">
                <a href="{{ item.link }}">{{ item.title }}</a>
                {% if item.children %}
                    <ul class="overflow-hidden">
                        {% for child in item.children %}
                            <li>
                                <a class="flex align-center radius-small" href="{{ child.link }}">
                                    <img src="{{ Image(child.meta('submenu-icon')).src }}" width="40" height="40" alt="{{ child.title }}" />
                                    <div class="content flex-column">
                                        <span class="title t-14 text-darker mb-1">{{ child.title }}</span>
                                        <span class="caption t-12 text-lighter">
                                            {{ child.meta('submenu-caption') }}
                                        </span>
                                    </div>
                                </a>
                                {% if child.children %}
                                    <ul class="footer flex wrap py-3">
                                        {% for footerLink in child.children %}
                                            <li class="flex-column">
                                                <a class="t-12 text-darker px-4 py-2" href="{{ footerLink.link }}">{{ footerLink.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <form class="mobile-search-form relative" action="{{ site.link }}">
        <input type="text" placeholder="عبارت مورد نظر خود را جستجو کنید" name="s" />
        <button type="submit"></button>
    </form>

    <div class="call-box align-center">
        <div class="box flex justify-space-between align-center mx-auto p-3">
            <div class="flex-column align-center">
                <span class="t-16 text-darker strong mb-2">تماس و پشتیبانی</span>
                <span class="t-12 text-medium">۲۴ ساعت، ۷ روز هفته</span>
            </div>
            <div class="flex">
                <a href="tel:+98218700" class="tell-btn Button outline medium blue flex align-center">021-8700</a>
            </div>
        </div>
    </div>
</nav>
