<div class="StickyHeader sticky top-0 mb-6">
    <div class="container">
        <div class="wrapper flex align-center py-3">
            <img class="logo" alt="{{ logo.alt }}" src="{{ theme.link }}/{{ logo.url }}" />
            <div class="navigation flex mr-auto">
                <div class="inner flex align-center">
                    {% for item in items %}
                        <a class="px-3" title="{{ item.title }}" href="{{ item.link }}">{{ item.title }}</a>
                    {% endfor %}
                </div>
            </div>

            {% if cta %}
                <a class="cta Button blue medium" alt="{{ cta.title }}" href="{{ cta.url }}">{{ cta.title }}</a>
            {% endif %}

            <button data-module-id="second-menu-button" class="mobile-btn mr-auto"></button>
        </div>
    </div>
</div>
