<section class="Trades__tabs mb-6">
    <div class="container-sm">
        <div class="wrapper flex-column">
            <h2 class="t-24 text-darker text-center mb-6">دیگر دستیاران معاملاتی</h2>
            <div class="cover-content mb-5 flex justify-center">
                <img src="{{ theme.link }}/assets/images/pages/trades/hami.png" data-content-type="1" data-content-id="1">
                <img src="{{ theme.link }}/assets/images/pages/trades/takhfif.png" data-content-type="1" data-content-id="2">
                <img src="{{ theme.link }}/assets/images/pages/trades/sabad.png" data-content-type="1" data-content-id="3">
                <img src="{{ theme.link }}/assets/images/pages/trades/etebar.png" data-content-type="1" data-content-id="4">
                <img src="{{ theme.link }}/assets/images/pages/trades/pelekan.png" data-content-type="1" data-content-id="5">
            </div>
            <div class="tabs flex-column">
                <div class="head flex justify-center hide-scrollbar">
                    <div class="inner flex cursor-pointer">
                        <div class="tab flex-1 text-center" data-tab-type="1" data-tab-id="1">طرح حامی</div>
                        <div class="tab flex-1 text-center" data-tab-type="1" data-tab-id="2">تخفیف کارمزد</div>
                        <div class="tab flex-1 text-center" data-tab-type="1" data-tab-id="3">سبد پیشنهادی سهام</div>
                        <div class="tab flex-1 text-center" data-tab-type="1" data-tab-id="4">اعتبار</div>
                        <div class="tab flex-1 text-center" data-tab-type="1" data-tab-id="5">پلکان</div>
                    </div>
                </div>
                <div class="contents">
                    <div class="content py-4" data-content-type="1" data-content-id="1">
                        <div class="flex-column align-center">
                            <p class="t-16 lh-26 text-darker mb-5">
                                حامی اجازه نمی‌دهد سرمایه شما بیکار بماند. در واقع با وجود طرح حامی به مانده حساب بلااستفاده در حساب معاملاتی شما نزد کارگزاری مفید سود روزشمار تعلق گرفته و به صورت ماهانه به شما پرداخت می‌شود. 
                            <p>
                            <a class="more flex align-center" href="https://www.emofid.com/trades/traderassistants/hami/">اطلاعات بیشتر</a>
                        </div>
                    </div>
                    <div class="content py-4" data-content-type="1" data-content-id="2">
                        <div class="flex-column align-center">
                            <p class="t-16 lh-26 text-darker mb-5">
                                با فعال‌سازی تخفیف کارمزد از طریق باشگاه مشتریان پلکان، هر معامله شما در سامانه‌های معاملاتی، شامل ۲۵٪ تخفیف کارمزد کارگزاری شده و به صورت نقدی به قدرت خرید شما باز می‌گردد. این بازگشت کارمزد تا سقف ارزش یا زمان انقضای بسته انتخابی شما ادامه خواهد یافت.
                            <p>
                        </div>
                    </div>
                    <div class="content py-4" data-content-type="1" data-content-id="3">
                        <div class="flex-column align-center">
                            <p class="t-16 lh-26 text-darker mb-5">
                                کارگزاری مفید به صورت هفتگی یک گزارش تحلیلی از بازار‌سرمایه به همراه لیستی از سهم‌های مستعد رشد را معرفی می‌کند و از طریق پلکان در اختیاران کاربران خود قرار می‌دهد.
                            <p>
                            <a class="more flex align-center" href="https://www.emofid.com/trades/traderassistants/suggestedportfolio/">اطلاعات بیشتر</a>
                        </div>
                    </div>
                    <div class="content py-4" data-content-type="1" data-content-id="4">
                        <div class="flex-column align-center">
                            <p class="t-16 lh-26 text-darker mb-5">
                                در کارگزاری مفید، معامله‌گران می‌توانند با استفاده از امتیازات پلکان و بدون پرداخت بهره،  اعتبار معاملاتی دریافت کنند.
                            <p>
                            <a class="more flex align-center" href="https://www.emofid.com/trades/traderassistants/credit/">اطلاعات بیشتر</a>
                        </div>
                    </div>
                    <div class="content py-4" data-content-type="1" data-content-id="5">
                        <div class="flex-column align-center">
                            <p class="t-16 lh-26 text-darker mb-5">
                                پلکان، باشگاه مشتریان کارگزاری مفید است که بر مبنای فعالیت‌های مشتریان امتیازاتی را به آن‌ها تخصیص می‌دهد. با وجود پلکان، هیچ فعالیتی در کارگزاری مفید بدون پاداش نمی‌ماند. شما می‌توانید متناسب با امتیازهای خود از پاداش‌های پلکان استفاده کنید.
                            </p>
                            <a class="more flex align-center" href="https://www.emofid.com/trades/traderassistants/pellekan/">اطلاعات بیشتر</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
